@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family:"Work Sans", sans-serif;;
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: rgb(66, 66, 66);
}
.text-light-gray{
    color: rgb(114, 114, 114);
}
.bg-light{
    background-color:  rgba(255, 144, 14, 0.1);;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
/* header-style */
   
/* navbar related style */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-weight: 700;
    font-size: 2.80rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner-related */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
    color: rgb(19, 19, 19);
}
.banner-description{
    font-weight:400;
    font-size: 1rem;
    color: rgb(144,144,144);
}
.btn-primary{
    padding: 20px 25px;
    background-color: rgb(255, 144, 14);
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    color: rgb(255,255,255);
}
.btn-primary:hover{
    background-color: rgb(24, 164, 127);
}
.banner-image{
    width: 100%;
}

/* team feature */
.team-img-container{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap: 24px;
}
.teams{
    align-items: center;
    /* margin-top: 130px; */
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
    /* text-align: center; */
}
.section-title{
    font-weight: 700;
    font-size: 2.80rem;
}
.quick{
    color: rgb(114, 114, 114);
}
.feat{
    color: rgb(255, 144, 14);
}
.our{
    color: rgb(19, 19, 19);
}
.feature-description{
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}
/* some facts related style */
.facts-container{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    justify-items: center;
}
.fact-description{
    max-width: 540px;
    margin-bottom: 100px;
}
.what-title{
    margin-bottom:24px;
}
.fact-card{
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.3rem;
     font-weight:600;
     margin-top: 10px;
}
/* our sponsor part */

.sponsors-info{
    max-width: 542px;
    text-align: center;
    margin: 0 auto;
}
.sponsors-company{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   justify-items: center;
   margin-top: 50px;
}
.sponsors-company img{
    filter: grayscale(100%);
}

/* responsive media qurey */

@media screen and (max-width:576px){
    .display-flex{
        flex-direction: column
    }
    .navbar-links{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;
    }
    .facts-container,.sponsors-company{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        gap: 20px;
    }
    .fact-description{
        margin-bottom: 40px;
    }
    .some-facts-container{
       text-align: center;
    }
    
}


/* medium device media qurey version */
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .some-facts-container{
        text-align: center;
    }
    .team-img-container{
        grid-template-columns: repeat(1,1fr);
    }
    .facts-container,.sponsors-company{
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        gap: 20px;
    }
}